#courses-cards-cnt{
    width: 100%;
    position: relative;
    /* overflow: auto; */
    /* margin-top: 3.5rem;
    margin-bottom: 3.5rem; */
}
.card{
    position: relative;
    background-color: rgb(219, 219, 219);
    /* float: left; */
    /* width: 20%; */
    /* margin: 0 2%; */
    border-radius: 5px;
    box-shadow: -2px 2px 6px rgba(146, 146, 146, 0.507);
}

.card>.course-desc-content>.course-description{
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0;
    display: inline-block;
    font-size: 0.95rem;
    
}
.course-header{
    font-size: 0.85rem;
}
.course-desc-content{
    height: auto;
    padding: 0.7rem 1rem;
}
.course-name{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0.7rem 1rem;
    font-weight:600 ;
    font-size: 1.2rem;
    color: white;

    display: block;
    width: 100%;
}
.course-teacher-content{
    padding: 0.7rem 1rem;
}
.teacher-name{
    margin-top: 0.5rem;
    display: block;
    width: 100%;
    font-size: 0.95rem;
    text-align: right;
}

footer{
    /* position: absolute;
    bottom: 0; */
}