main{
    /* height: 100vh; */
}



#main-section{
    /* overflow: auto; */
    /* height: 20rem; */
    /* height: 50rem; */
    /* padding: 2.5rem 7rem; */
}
table{
    width: 100%;
    border-collapse: collapse;

}


table#time-table>#time-table-upcoming-date-row{
    width: 100%;
}
 
#main-section>#upcoming-sessions-cnt{
    /* height: 27rem; */
    /* margin-top: 1.9rem; */
    width: 50%;
    float: left;
}

.section-header{
    text-align: left;
    width: 100%;
    display: block;
    margin-bottom: 1.5rem;
}

tr#time-table-upcoming-date-row>th{
    border: 1px solid rgb(126, 126, 126);
}
tr#time-table-upcoming-date-row>th#upcoming-week{
    height: 30px;
    width: 12%;
    text-align: center;
    background-color: rgb(201, 201, 201);
    font-weight: 500;
}

tr#time-table-upcoming-date-row>th#upcoming-day{
    background-color: rgb(230, 230, 230);
    font-size: 1.1rem;
    font-weight: 500;

}

.which-hour,.place-for-session{
    height: 6px;
    /* max-width: 2px; */
    position: relative;
    border: 1px solid rgb(126, 126, 126);
}
.place-for-session>table{
    position: relative;
    top: 0;
    background-color: black;
    height: 90%;
    width: 70%;
    margin: 0 auto;
}
#SEP {
    background-color: rgb(181, 195, 247);
    border: 2px solid black;
    border-radius: 7px;
    border-collapse: separate;
    border-color:rgb(140, 153, 231);
}
.which-hour{
    height: 15px;
    width: 77px;
    background-color: rgb(230, 230, 230);
    font-weight: 500;

}
#news-section>.section-header{
    text-align: center;
}

#news-section{
    float: right;
    position: relative;
    width: 37%;
    height: inherit;
    /* background-color: black; */
}

.news-content{
    text-align: justify;
    /* margin-top: 6rem; */
}
/*
#main-section>#upcoming-sessions-cnt>#time-table>.time-cnt{
    line-height: 2.45rem;
    position: relative;
}

#main-section>#upcoming-sessions-cnt>#time-table>.time-cnt::before{
    content: '';
    position: absolute;
    background-color: black;
    height: .05rem;
    width: 90%;
    top: 50%;
    left: 3rem;
}   

#main-section>#upcoming-sessions-cnt>#time-table{
    position: relative;
}

#main-section>#upcomin-session-cnt>#time-table>.session-cnt{
    position: absolute;
}

 */



