/* @import url(); */

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin:0;
    background-color: #EEEEEE !important;
    font-family: 'Raleway' !important;
    overflow-x: hidden;
}

.section-header{
    font-size: 1.7rem;
    font-weight: 700;
    color: #476072;
}

/* main>section{
    padding: 2.2rem 9rem;
} */